.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/httpRequests/
.idea/**/contentModel.xml
.idea/**/caches
.idea/**/libraries
.idea/**/modules.xml
.idea/inspectionProfiles/
.idea/runConfigurations/

*.iml
/.gradle
/build
/bignum/build
/benchmark/build
/symcalc/build
/ui/shared/build
/ui/app/build

.idea/modules.xml
.idea/uiDesigner.xml
.idea/artifacts
/local.properties

.kotlin
java_*.hprof
